@using WebAplicationTestMVC.Utilities
@model WebAplicationTestMVC.Models.StudySet

<!DOCTYPE html>
<html manifest="cache.manifest">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Study set</title>

    <style>
        .question-text {
            font-size: 28px
        }
    </style>
</head>
<body>
    <h2>
        Set name: @Model.StudySetName
    </h2>

    <hr class="soften" />

    <a class="btn btn-primary" asp-area="" asp-controller="Flashcards" asp-action="AddFlashcard" asp-route-studySetName="@Model.StudySetName">Create flashcards manually</a>
    <a class="btn btn-primary" data-toggle="modal" data-target="#DataSettings" asp-area="">Learn flashcards</a>

    <div class="modal" tabindex="-1" role="dialog" id="DataSettings">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" align="center">Configure study mode</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                 <div class="modal-body">
                    <p></p>
                </div> 
                <div class="checking-site">
                    <div class="row">
                        <div class="col-sm-6">
                            <h6>Choose flashcard mode:</h6>
                        </div>
                        <div class="col-sm-6">
                            <h6>Choose Validation mode:</h6>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="studyMode" id="spaced">
                                <label class="form-check-label" for="spaced">
                                    Spaced Repetition
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="studyMode" id="randomized" checked>
                                <label class="form-check-label" for="randomized">
                                    Randomised Flashcards
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="answerMode" id="system" checked>
                                <label class="form-check-label" for="system">
                                    Auto Answer Check
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="answerMode" id="user" checked>
                                <label class="form-check-label" for="user">
                                    I'll do it by my self
                                </label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <p>Flashcard time limit (leave blank or 0 to disable)</p>
                    <input type="number" min="0" id="time">
                    <br>
                    <br>
                    <div class="modal-footer">
                        <button type="button" id="saveChangesBtn" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#saveChangesBtn').on('click', function () {

                var studyMode = $('input[name="studyMode"]:checked').attr('Id');
                var answerMode = $('input[name="answerMode"]:checked').attr('Id');
                var time = document.getElementById("time").value;

                if ((studyMode === 'spaced') && (answerMode === 'system')) {
                    var url = "/Flashcards/SpacedRepetitionAndSystemCheck?setName=" + '@Model.StudySetName' + "&time=" + time;
                    window.location.href = url;
                } else if ((studyMode === 'randomized') && (answerMode === 'system')) {
                    var url = "/Flashcards/RandomizedAndSystemCheck?setName=" + '@Model.StudySetName' + "&time=" + time;
                    window.location.href = url;
                } else if ((studyMode === 'spaced') && (answerMode === 'user')) {
                    var url = "/Flashcards/SpacedRepetitionAndUserCheck?setName=" + '@Model.StudySetName' + "&time=" + time;
                    window.location.href = url;
                } else {
                    var url = "/Flashcards/RandomizedAndUserCheck?setName=" + '@Model.StudySetName' + "&time=" + time;
                    window.location.href = url;
                }

                $('#DataSettings').modal('hide');
            });
        });
    </script>

    <br>
    <h3>@Model.StudySetName Contains:</h3>
    <div class="row">
        @foreach (var flashcard in Model.Flashcards)
        {
            <div class="col-sm-1 card">Question:   </div>
            <div class="col-sm-11 card">@flashcard.Question</div>
        }
    </div>
</body>
</html>
