@using WebAplicationTestMVC.Utilities
@model WebAplicationTestMVC.Models.StudySet
@{
    if (Model.studySetName == null)
    {
        Model.studySetName = "All flashcards.xlsx";
    }
    List<Flashcard> flashcards = ExcelHelper.getExcelData(@"Data/" + Model.studySetName);
}
<!DOCTYPE html>
<html manifest="cache.manifest">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Bootstrap JS and Popper.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Study set</title>

    <style>
        .question-text {
            font-size: 28px
        }
    </style>
</head>
<body>
    <h2>
        SetName: @Model.studySetName.Substring(0, Model.studySetName.Length - 5)
    </h2>

    <hr class="soften" />

    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="AddFlashcard" asp-route-studySetName="@Model.studySetName">Create flashcards manually</a>
    <a class="btn btn-primary" data-toggle="modal" data-target="#DataSettings" asp-area="">Learn flashcards</a>

    

    <div class="modal" tabindex="-1" role="dialog" id="DataSettings">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="checking-site">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="studyMode" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Spaced Repetition
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="studyMode" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Randomised Flashcards
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="answerMode" id="flexRadioDefault3" checked>
                    <label class="form-check-label" for="flexRadioDefault3">
                        Auto Answer Check
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="answerMode" id="flexRadioDefault4" checked>
                    <label class="form-check-label" for="flexRadioDefault4">
                        I'll do it by my self
                    </label>
                </div>
                <div class="modal-footer">
                    <button type="button" id="saveChangesBtn" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#saveChangesBtn').on('click', function () {
                var studyMode = $('input[name="studyMode"]:checked').attr('id');
                var answerMode = $('input[name="answerMode"]:checked').attr('id');


                if ((studyMode === 'flexRadioDefault1') && (answerMode === 'flexRadioDefault3')) {
                    window.location.href = '@Url.Action("SpacedRepetitionAndSystemCheck", "Flashcards", new { setName = Model.studySetName})';

                } else if ((studyMode === 'flexRadioDefault2') && (answerMode === 'flexRadioDefault3')) {
                    window.location.href = '@Url.Action("RandomizedAndSystemCheck", "Flashcards",new { setName = Model.studySetName} )';

                } else if ((studyMode === 'flexRadioDefault1') && (answerMode === 'flexRadioDefault4')) {
                    window.location.href = '@Url.Action("SpacedRepetitionAndUserCheck", "Flashcards",new { setName = Model.studySetName} )';

                } else {
                    window.location.href = '@Url.Action("RandomizedAndUserCheck", "Flashcards", new { setName = Model.studySetName})';
                }

                $('#DataSettings').modal('hide');
            });
        });
    </script>


    <br>
    <h3>@Model.studySetName.Substring(0, Model.studySetName.Length - 5) Contains:</h3>
    <div class="row">
        @foreach (var flashcard in flashcards)
        {
            <div class="col-sm-1 card">Question:   </div>
            <div class="col-sm-11 card">@flashcard.question</div>
        }
    </div>
</body>
</html>
